* {
	margin: 0;
	padding: 0;
}

body {
	width: 60%;
	margin: 0 auto;
	text-align: center;
	font-family: Helvetica;
	letter-spacing: 2px;
}

#calc {
	position: relative;
	width: 300px;
	margin: 0 auto;
	overflow: hidden;
}

#calcInput {
	width: 100%;
	height: 50px;
	border: 0px solid #000;
	background: #202020;
	text-align: right;
	color: #fff;
	font-weight: 700;
	font-size: 1.3em;
}

#sum {
	width: 100%;
	height: 80px;
	background: #202020;
	text-align: right;
	color: #CAC4C4;
	font-weight: 900;
	font-size: 1em;
	line-height: 40px;
	border-bottom: 2px double #322D2D;
	overflow-y: scroll;
}


table {
	border: 1px solid #000;
	width: 100%;
}

td {
	text-align: center;
	padding: 10px;
	font-size: 1.2em;
	font-weight: bold;
}

td:hover {
	background: #0f3657;
	cursor: pointer;
	color: #fff;
}

.firstColor {
	background: #2585d7;
}

.secondColor td {
	background: #c6c6c6;
}

.thirdColor {
	background: #d9d9d9;
}

.fourthColor {
	background: #ececec;
}

h1 {
	color: #2585d7;
}

